* {
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  line-height: 25pt;
  margin: 0px;
  padding: 0px;
}

a {
  color: white;
  text-decoration: none;
  margin-right: 5px;
}

header {
  background-image: url(../img/header.jpg);
  background-size: cover;
  height: 100vh;
}

.cabecera {
  padding: 30px;
}

.logo-principal {
  float: left;
}

.menu {
  float: right;
}

h1 {
  color: white;
  font-size: 35px;
  width: 50%;
  padding: 20px;
  letter-spacing: 2px;
  margin-left: 15px;
}

.principal {
  margin-top: 65vh;
  margin-bottom: 50px;
}

main {
  padding-right: 5%;
  padding-left: 5%;
}

#nosotros {
  padding: 50px;
  height: 40%;
  display: flex;
  flex-direction: column;
  text-align: center;
}

h2 {
  text-transform: uppercase;
  text-align: center;
}

.beneficios {
  display: flex;
  flex-direction: row;
  align-content: space-around;
}

article {
  width: 33%;
  padding: 30px;
  margin: 20px;
  align-content: center;
  text-align: center;
  color: rgb(78, 78, 78);
}

article h3 {
  font-style: 25px;
  font-style: italic;
  text-transform: uppercase;
}

#en-venta {
  display: flex;
  flex-direction: column;
}

.articulos {
  margin-top: 50px;
  height: 30%;
  display: flex;
  flex-direction: row;
  align-content: space-around;
  justify-content: space-around;
}

.productos {
  width: 300px;
  border: 3px solid rgb(78, 78, 78);
  font-size: 15px;
}

.productos img {
  width: 295px;
  size: inherit;
}

.precios {
  color: rgb(43, 170, 43) !important;
  font-weight: bold;
}

.iconos {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-right: 15px;
}

.icono {
  margin-left: 30px;
  margin-right: 5px;
}

.product-btn {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 95%;
  justify-self: center;
}

.btn {
  margin-top: 2px;
  height: 40px;
  border-radius: 3%;
  margin: 5px;
  background-color: rgb(238, 123, 15);
  border: none;
  box-shadow: none;
  cursor: pointer;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
}

#ver-todos-btn {
  background-color: yellowgreen;
  width: 80px;
  height: 40px;
  border-radius: 5%;
  color: white;
  box-shadow: none;
  border: none;
  cursor: pointer;
  font-weight: bold;
  margin: 50px;
  align-self: flex-end;
  text-transform: uppercase;
}

#Contactos {
  height: 30vh;
  background-image: url(../img/encuentra.jpg);
  background-size: cover;
  color: white;
  padding: 100px;
}

#Contactos h2 {
  text-align: justify;
  margin-bottom: 15px;
}

#Contactos button {
  margin-top: 50px;
  font-size: 15px;
  width: 120px;
}

.btn {
  height: 40px;
  border-radius: 3%;
  margin: 5px;
  background-color: rgb(238, 123, 15);
  border: none;
  box-shadow: none;
  cursor: pointer;
  color: white;
  font-weight: bold;
}

footer {
  background: rgb(88, 88, 88);
  height: 50px;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
}
